body{
background-color: light blue:

}
p{
padding: 45px;
font-size:40px;
word-spacing:40px;
}
ol{
font-size:30px;
}
ul{
font-size:16px;
}
h1{
text-decoration: underline;
font-size: 50px;
word-spacing: 50px;
}